/*Bordes*/
/*
#main{border: 1px	solid black;}
#descripcion{border: 1px solid black;}
*/



/**
	FORMULARIO
*/
label{font-size: 20px;}
label span{display: inline; font-size: 0.55em; margin-left: 5px;}
label span.ejemplo{font-style: italic; display: block ;padding-top: 2px; margin-left: 0px; color: #B4BCBE;}
label span a{ padding-left: 2px; padding-right: 2px; color: #0367A6; text-decoration: underline; cursor: pointer;}

input.texto{ margin-top: 5px; border: 1px solid #888888; font-size: 0.9em; padding: 5px;}

input[type="button"]::-moz-focus-inner{border: none;} /*Eliminamos el boder de puntos al pulsar el boton*/
input[type="button"]{vertical-align: bottom; border: none;background: transparent  no-repeat 0 -1px; width: 86px; height: 25px; .height:26px; margin-top: 5px;}
input[type="button"]:ACTIVE{border: none;background: transparent no-repeat 0 -29px; width: 86px; height: 25px; .height:26px;}

a#cancelar{font-size: 11px; color: #0367A6; text-decoration: underline; cursor: pointer; margin-left: 10px;}
/**
	CABECERA
*/
#cabecera .grid_12{height: 100px; background: transparent url(../images/fondos/cabecera.png) 0 0;}
#cabecera #logo{margin-top: 20px; margin-left: 20px;}

#breadcrumb{height: 50px; background: transparent url(../images/fondos/breadcrumb.png) no-repeat 0 0; margin-top: 5px;}
#breadcrumb ul{margin-top: 15px; font-size: 24px;}
#breadcrumb ul li{display: inline; padding-right: 15px;color: rgb(180, 188, 190);}
#breadcrumb ul li:not(.ultimo){background: transparent url(../images/varios/separador.png) no-repeat right;}
#breadcrumb ul li.actual{color: black;}

/**
	CONTENIDO PRINCIPAL
*/
#wrapper{margin-top: 30px;}

div.mensaje{text-align: center; padding: 5px; margin-bottom: 10px;}
div#error.mensaje{border: 1px solid #F7746D; background-color: #F7D3D1;}
div#info.mensaje{border: 1px solid #64bee8; background-color: #c0e5f5;}
div#notice.mensaje{border: 1px solid #9f6000; background-color: #feefb3;}
div#success.mensaje{border: 1px solid #4f8a10; background-color: #dff2bf;}

#main{height: 300px;}

/*localizacion*/
input#direccion{width: 459px; font-size: 13px;}
#mapa{height: 329px; width: 469px; border: 1px solid #0367A6; margin-top: 10px;}
#b_introducir{ height: 27px; width: 152px; background-image: url(../images/botones/introducir.png);}
#b_introducir:ACTIVE{height: 27px; width: 152px;}
#b_buscar{ height: 27px; width: 57px; background-image: url(../images/botones/buscar.png);}
#b_buscar:ACTIVE{height: 27px; width: 57px;}

/*descripcion*/
.contenedor_descriptor{border: 1px solid #0367A6; margin-top: 10px;}
#descripcion{height: 319px; width: 348px; padding: 5px;}
#vista_previa{height: 329px; width: 297px; border: 1px solid #0367A6; margin-top: 10px;}
#b_obtener{ height: 27px; width: 100px; background-image: url(../images/botones/obtener.png);}
#b_ontener:ACTIVE{height: 27px; width: 100px;}

/*obtener fichero*/
#b_comienzo{ height: 27px; width: 100px; background-image: url(../images/botones/comienzo.png);}
#b_comienzo:ACTIVE{height: 27px; width: 100px;}