<%- content_for(:head) do -%>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
	<%= javascript_include_tag "vista_previa" %>
	
	<!-- LOCALHOST KEY -->
<!-- 	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAmwzzgWFz7PIyq6dsDM5OYBTJQa0g3IQ9GZqIMmInSLzwtGDKaBRaNo20b8wvW-uakeKZ1mJvW4nQXw" type="text/javascript"></script> -->
	
	<!-- HEROKU KEY -->
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAmwzzgWFz7PIyq6dsDM5OYBRyXwT8lDSfjAR1s1O8ahZnzxPwtRS0qDK4euhZjj805dLbcjFY491xpw" type="text/javascript"></script>
<%- end -%>


<% form_tag ({:controller => :kml, :action => :enviar_fichero}, {:id => "formulario"}) do -%>

	<!-- Contenido del globo -->
	<div class="grid_5 alpha">
		<label for="descripcion">
			Descripcion<span>(<a>¿que es esto?</a>)</span>
		</label>
		<%= text_area_tag 'descripcion', nil, {:class => 'contenedor_descriptor'} %>
		<%= hidden_field_tag('latitud', params['lat'], {:id=> 'latitud'}) %>
		<%= hidden_field_tag('longitud', params['lng'], {:id=> 'longitud'}) %>
	</div>
	
	<!-- Vista previa -->
	<div class="grid_4 prefix_1 omega">
		<label for="vista_previa">
			Vista previa<span>(<a id="actualizar">Actualizar</a>)</span>
		</label>
		<div id="vista_previa" class="contenedor_descriptor"></div>
	</div>
	<div class="clear"></div>
	<input id="b_obtener" type="button"/>
	<a id="cancelar">Cancelar</a>
<% end -%>