<label for="descripcion">
	El fichero KML ha sido correctamente generado
</label>
<!-- <input id="b_comienzo" type="button"/> -->
<%= link_to(image_tag("botones/descargar.png"),
						:action => "descargar",
						"descripcion" => @descripcion, "latitud" => @latitud, "longitud" => @longitud) %>
						
