<label for="descripcion">
	El fichero KML ha sido correctamente generado
</label>
<!-- <input id="b_comienzo" type="button"/> -->
<%= link_to(image_tag("botones/descargar.png"),
						:action => "descargar",
						"descripcion" => @descripcion, "latitud" => @latitud, "longitud" => @longitud) %>
						
						
<img href="http://maps.google.com/staticmap?center=40.714728,-73.998672&zoom=14&size=495x400&markers=4.541513,52.075581&key=ABQIAAAAmwzzgWFz7PIyq6dsDM5OYBTJQa0g3IQ9GZqIMmInSLzwtGDKaBRaNo20b8wvW-uakeKZ1mJvW4nQXw&sensor=false"/>
						

<img href="http://maps.google.com/staticmap?center=40.714728,-73.998672&zoom=14&size=512x512&maptype=mobile&markers=40.702147,-74.015794,blues%7C40.711614,-74.012318,greeng%7C40.718217,-73.998284,redc&key=ABQIAAAAmwzzgWFz7PIyq6dsDM5OYBTJQa0g3IQ9GZqIMmInSLzwtGDKaBRaNo20b8wvW-uakeKZ1mJvW4nQXw&sensor=false"/>
